{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte existe avec cet email, tu as du recevoir un lien contenant un lien pour remettre à jour ton mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si tu n'as pas reçu d'email regarde dans ton dossier SPAM ou <a href="{{ path('app_forgot_password_request') }}">essai à nouveau</a>.</p>
{% endblock %}
