{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="w-screen h-screen flex justify-center items-center">
    <div class="p-10 bg-white rounded flex justify-center items-center flex-col shadow-md">
    <h1>Redéfinir mon mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {
            label: 'E-mail'
        }) }}
        <div>
            <small>
                Entre ton email et on t'envera un lien pour re-définir ton mot de passe.
            </small>
        </div>
        <div class="text-center w-full">
            <button class="bg-purple-600 hover:bg-purple-900 text-white font-bold p-2 rounded w-80 m-auto">Envoyer l'e-mail</button>
        </div>
    {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
