<table style="border-spacing: 0;">
    <tbody style="">
        <tr>
            <td>
                <img src="{{ absolute_url(asset('logo.png')) }}" alt="logo dabba" width="250" height="132">
            </td>
        </tr>
        <tr>
            <td>
                <h1 style="font-family: 'Montserrat', Verdana, 'Open Sans', sans-serif; color:#1B4E57; background: rgba(255,255,255,0.5);">This is a test mail</h1>
            </td>
        </tr>
        <tr>
            <td style="background: rgba(255,255,255,0.5);">
                We hope you get it :)
            </td>
        </tr>
        <tr>
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-family: 'Montserrat', Verdana, 'Open Sans', sans-serif; color:#1B4E57; text-align: center">
                    Ce mail a été envoyé automatiquement, merci de ne pas y répondre. </p>
                <p style="font-family: 'Montserrat', Verdana, 'Open Sans', sans-serif; color:#1B4E57; font-weight: bold; text-align: center">
                    Si tu as besoin d’aide, consulte notre
                    <a style="color:#1B4E57" href="https://www.dabba-consigne.fr/faq/?utm_medium=email&utm_campaign=confirmation">FAQ</a> ou
                    <a style="color:#1B4E57" href="https://www.dabba-consigne.fr/contact/?utm_medium=email&utm_campaign=confirmation">contacte-nous</a> !
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-family: 'Montserrat', Verdana, 'Open Sans', sans-serif; color:#1B4E57; font-size: 8px; text-align: center">
                    dabba consigne - 7 Rue Leroy 38100 GRENOBLE FRANCE <br>
                    Email : <a style="color:#1B4E57" href="mailto:hello@dabba-consigne.fr">hello@dabba-consigne.fr</a> - Site web :
                    <a style="color:#1B4E57" href="https://www.dabba-consigne.fr/?utm_medium=email&utm_campaign=confirmation">https://www.dabba-consigne.fr</a> <br>
                    Code NAF (APE) 8299Z - Siret : 89161165900014 <br>
                    <a style="color:#1B4E57" href="https://www.dabba-consigne.fr/mentions-legales/?utm_medium=email&utm_campaign=confirmation">MENTIONS LÉGALES</a> <br>
                </p>
            </td>
        </tr>
    </tbody>
</table>