{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>users</h1>

    {{ dump(users) }}

{% endblock %}
