@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

body {
    background-color: lightgray;
    &.login{
        background-image: url("../img/food-photographer-david-fedulov-FtpgFeUQuAY-unsplash.jpg");
        @apply bg-no-repeat bg-cover bg-center;
    }
}
a{
    @apply text-purple-600 hover:text-purple-900;
}

body#in_app{
    background-color: white;
    .kr-payment-button{
        background: #F96C26;
    }
    #inputField{
        background: red;
    }
}