@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

$dabba-orange: #F96C26;

.bg-image{
    background-image: var(--bg-image);
}
body {
    background-color: lightgray;
}
a{
    @apply text-purple-600 hover:text-purple-900;
}

body#in_app{
    background-color: white;
    .kr-payment-button{
        background: $dabba-orange;
    }
    #inputField{
        background: red;
    }
}

body.oauth {
    background-color: #FEF9F4;
    font-family: "Montserrat", Sans-serif;

    button.dabba-orange {
        background-color: $dabba-orange;
        &:hover {
            background-color: darken($dabba-orange, 10%);
        }
    }
}
