{% extends 'base.html.twig' %}

{% block title %}Bienvenu au {{ restaurant.name }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    Youpi, le {{ restaurant.name }} accepte les dabbas, <br>
    utilise ce QR lors de tes achats pour valider les échanges et créditer ta cagnotte !

{% endblock %}
