{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Dabba consigne</h1>

    <a href="/api/docs">Api doc</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}">admin</a>
    {% endif %}

{% endblock %}
