{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>home</h1>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}">admin</a>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('super_admin') }}">super admin</a>
    {% endif %}

{% endblock %}
