{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    </section>
        <div class="w-full sm:h-screen flex justify-center items-center bg-image bg-no-repeat bg-cover bg-center" style="--bg-image:url('{{ asset('co-fondatrices-Grenoble-Lyon.jpg') }}');">
        </div>
    <section>
{% endblock %}
