{% extends 'in_app.html.twig' %}

{% block page_title 'Order pay' %}

{% block javascripts %}
    <!-- Javascript library. Should be loaded in head section -->
    <script
            src="https://api.systempay.fr/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
            kr-public-key="{{ public_key }}"
            kr-post-url-success="{{ absolute_url(path('app_order_payed')) }}">
    </script>
    <!-- theme and plugins. should be loaded after the javascript library -->
    <!-- not mandatory but helps to have a nice payment form out of the box -->
{#    <script#}
{#            src="https://api.systempay.fr/static/js/krypton-client/V4.0/ext/classic.js">#}
{#    </script>#}
{% endblock %}

{% block body %}
<!-- payment form -->
<div class="kr-embedded p-5 bg-white w-full"
     kr-form-token="{{ form_token }}">

    <!-- payment form fields -->
    <div class="kr-pan"></div>
    <div class="kr-expiry"></div>
    <div class="kr-security-code"></div>

    <!-- payment form submit button -->
    <button class="kr-payment-button rounded-full py-2 px-8 text-white font-bold shadow-md w-full" ></button>

    <!-- error zone -->
    <div class="kr-form-error"></div>
</div>
{% endblock %}
